*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(239, 243, 240);
 font-family: Arial, Helvetica, sans-serif;   
margin: 0;
padding: 0;
}

.topo{
    background-color: rgb(79, 186, 17);
    padding: 30px;
    text-align: center;
    color: rgb(7, 8, 20);
    font-size: 15px;
}
.esquerda{
    width: 1025px;
    margin: 10px auto;
    text-align: center;
 
}
